body{
    margin: 0;
    padding: 0;
    background-color:#696969; 
    background-image: url(fundo_cinza.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
    
    
  

}

#fonte_anime{
    width: 50%;
    position:relative;
    left: 150px;
    
}

.container {
    display: flex;
    flex-direction: row;
    justify-content:;
    align-items: center;  
    height: 500px;
    
   }

